@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--main-color: #0da621;
}

body {
	position: relative;
	overflow-x: hidden;
}

@media screen and (max-width: 768px) {
	html {
		position: relative;
		overflow-x: hidden;
	}
}
